*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #191931;
    color: #e1e1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 2rem;
    gap: 1rem;
}

.bg-text-animation {
    position: absolute;
    top: 5rem;
    font-size: 12rem;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 2px #2d2d56;
    -webkit-text-fill-color: transparent;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    z-index: -1;
    user-select: none;
  }

.me-img {
    width: 13rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
    
}

.text {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.sosmed i {
    font-size: 2rem;
    color: #8787a3;
}

.sosmed i:hover {
    color: white;
}

.sosmed a:not(:last-child) {
    margin-right: 0.9rem;
}

ul {
    width: 80%;
    max-width: 40rem;
}

ul li {
    list-style: none;
}


.link-card {
    display: flex;
    background-color: #2D2D56;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 8px 11px  #0f0f25;
    border: 2px solid #2D2D56
}

.link-card:hover {
    border: 2px solid white;
}

.link-icon {
    background-image: linear-gradient(to top, purple, cyan);
    padding: 0.5rem;
    border-radius: 10px;

}

.link-icon i {
    color: white;
  }

.link-text {
    text-align: center;
  }

.link-action {
    color: #8787a3;
    cursor: pointer;
    padding: 11px;
  }

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.7rem;
    color: #8787a3;
}

.copyright img {
    width: 8rem;
    opacity: 0.4;
}

#toast {
    width: max-content;
    position: fixed;
    top: 0;
}

.toast-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:  white;
    color: #0f0f25;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    animation: muncul 300ms ease-in-out;
}

.toast-gone {
    animation: hilang 2s ease-in-out 2s;
}

@keyframes muncul {
    from {
        opacity: 0;
        transform: translateY(-4rem);
    }
    to {
        opacity: 1;
        transform: translatey(0);
    }
}

@keyframes hilang {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
